.resume {
  i {
    padding: 0 5px;
    @media print {
      display: none;
    }
  }

  a {
    color: black;
  }

  .resumeHeader {
    text-align: center;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 4px 2px -2px #ddd;

    .contactMethods {
      display: flex;
      justify-content: space-around;
    }
  }

  .resumeBody {
    .section {
      padding: 10px 15px;
      border-bottom: 1px dashed #ccc;
      @media print {
        border-bottom: 0px;
      }

      .sectionTitle {
        font-size: 1.5em;
        color: #007ebd;
      }
      .sectionBody {
        padding: 0 10px;

        .subSection {
          padding: 10px;

          .header {
            .restOfHeader {
              color:#aaa
            }
          }

          .body {}
        }
      }
    }

    .timeSpan {
      padding: 0 5px;
    }

    .location {
      padding: 0 5px;
    }

    .resumeQuotes {
      text-align: center;

      .resumeQuote {
        .quote {
          font-style: italic;
          padding: 0 5px;
        }
        .restOfQuote {
          padding: 0 5px;
        }
      }
    }

    .resumeSkills {
      .resumeGroupedSkills {
        ul.skills {
          list-style: none;

          .resumeSkill {
            display: inline-block;
            padding: 0 5px;
            border: 1px solid #aaa;
            border-radius: 5px;
            margin: 0 5px;
          }
        }
      }
    }

    .resumeWorkExperiences {
      .resumeWorkExperience {
        .header {
          .organizationName {
            font-weight: bold;
            padding: 0 5px;
          }

          .title {
            font-style: italic;
            padding: 0 5px;
          }
        }
      }
    }

    .resumeProjects {
      .resumeProject {
        .header {
          .name {
            font-weight: bold;
            padding: 0 5px;
          }
        }

        .body {
          display: flex;

          .image {
            flex: 0 0 auto;
            width: 40%;
            max-width: 500px;
            @media print {
              display: none;
            }

            img {
              width: 100%
            }
          }
        }
      }
    }

    .resumeEducations {
      .resumeEducation {
        .header {
          .degreeName {
            font-weight: bold;
            padding: 0 5px;
          }

          .institutionName {
            padding: 0 5px;
          }
        }
      }
    }
  }
}
