.resume {
  .resumeHeader {
    text-align: center;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 4px 2px -2px #ddd;

    .contactMethod {
      padding: 0 30px;
    }
  }

  .resumeBody {
    .section {
      padding: 10px 15px;
      border-bottom: 1px dashed #ccc;

      .sectionTitle {
        font-size: 1.5em;
        color: #007ebd;
      }
      .sectionBody {
        padding: 0 10px;

        .subsection {
          padding: 10px;
        }
      }
    }

    .timeSpan {
      color: #aaa;

      .from, .to {
        padding: 0 5px;
      }
    }

    .resumeQuotes {
      text-align: center;

      .resumeQuote {
        .quote {
          font-style: italic;
          padding: 0 5px;
        }
        .name {
          padding-left: 5px
        }
      }
    }

    .resumeWorkExperiences {
      .resumeWorkExperience {
        .header {
          display: flex;
          justify-content: space-between;

          .organizationName {
            font-weight: bold;
            padding: 0 5px;
          }

          .title {
            font-style: italic;
            padding: 0 5px;
          }
        }
      }
    }
    .resumeProjects {
      .resumeProject {
        .header {
          display: flex;
          justify-content: space-between;

          .name {
            font-weight: bold;
            padding: 0 5px;

            a {
              color: black;
            }
          }
        }

        .body {
          display: flex;

          .image {
            width: 40%;
            max-width: 500px;

            img {
              width: 100%
            }
          }
        }
      }
    }
  }
}
