.resume {
  .resumeHeader {
    text-align: center;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 4px 2px -2px #ddd;

    .contactMethod {
      padding: 0 30px;
    }
  }

  .resumeBody {
    .resumeQuotes {
      text-align: center;

      .resumeQuote {
        padding-top: 5px;

        i {
          padding: 0 5px;
        }

        b {
          padding: 0 5px;
        }
      }
    }
  }
}
